<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sqlserver_host" value="value1" />
		<add key="sqlserver_user" value="value2"/>
		<add key="sqlserver_password" value="value3"/>
		<add key="sqlserver_db" value="value4"/>
		<add key="logpath" value="c:\ssms_sp_runner_logs"/>
		<add key="csv_sps_file" value="sp_list.csv"/>
	</appSettings>
</configuration>